In [29]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

In [30]:
df_train = pd.read_csv('./train_set.csv')
df_test = pd.read_csv('./test_set.csv')
df_train.head(5)

,id,article,word_seg,class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12

In [31]:
df_train.drop(columns=['article', 'id'], inplace=True)
df_test.drop(columns=['article'], inplace=True)
df_train.head(5)

                                            word_seg  class
0  816903 597526 520477 1179558 1033823 758724 63...     14
1  90540 816903 441039 816903 569138 816903 10343...      3
2  816903 1012629 957974 1033823 328210 947200 65...     12
3  563568 1239563 680125 780219 782805 1033823 19...     13
4  816903 816903 816903 139132 816903 312320 1103...     12

In [32]:
vectorizer = CountVectorizer(ngram_range=(1, 2), min_df=3, max_df=0.9, max_features=100000)
vectorizer.fit(df_train['word_seg'])
x_train = vectorizer.transform(df_train['word_seg'])
x_test = vectorizer.transform(df_test['word_seg'])
y_train =df_train['class'] - 1

In [33]:
#lg = LogisticRegression(C=4, dual=True)
#lg.fit(x_train, y_train)
#forest = ensemble.RandomForestClassifier(max_depth=20, min_samples_split=40, n_estimators = 100, random_state=10)
#forest = forest.fit(x_train, y_train)
#y_test = forest.predict(x_test)
ab_regressor = ensemble.AdaBoostRegressor(DecisionTreeRegressor(max_depth=4), n_estimators=400, random_state=7)
ab_regressor.fit(x_train, y_train)
y_test = ab_regressor.predict(x_test)

In [35]:
df_test['class'] = y_test.tolist()
df_test['class'] = df_test['class'] + 1
df_result = df_test.loc[:, ['id', 'class']]
df_result.to_csv('./result_ada.csv', index=False)
print('Done ... ...')

Done ... ...